
.memoryCardContainer{
    background-color: transparent;
    width: 48px;
    height: 67px;
    perspective: 1000px;
    
}
.memoryCardContainer:hover{
    cursor: pointer;
}


.memoryCard{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.memoryCardFront, .memoryCardBack{
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 6px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.memoryCardBack{
    transform: rotateY(180deg);
}
#memoryGameBoard{
    width: 95%;
    margin-left: 5%;
    height: 80%;
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
}
#memoryGameBoardContainer{
    width: 100%;
   
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#memoryGameDets{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5px;
    margin-bottom: 15px;
    
}
#memoryGameDets > div{
    color: white;
    font-size: 20px;
}
#memoryGameReturnHome{
    color: #FFF;
    border: 2px solid #f2f2f2;
    border-radius: 0px;
    padding: 8px;
    width: 140px;
    height: 35px;
 
    background-color: inherit;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #f2f2f2;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }
  #memoryGameReturnHome:hover{
    box-shadow: inset 400px 0 0 0 #f2f2f2;
    color: black
  }
