.rainingCard{
  height: 110px;
  width: 95px;
  position: absolute;
  background-size:cover;
  padding-top: 25px;
 border-radius: 7%;
  top: 1;
  border: 1px solid black;
  transition: 2s;
  opacity: 0;
}

#infoButton{
  background-color: inherit;
  font-size: 32px;
  margin-bottom: 0px;
  border: none;
  opacity: .6;
}
#infoButton:hover{
  cursor: pointer;
  opacity: 1;
}
#gameInfo{
  display:none;
  width: 90vw;
  height: 100vh;
  color: white;
  margin-right: 5vw;
  margin-left: 5vw;
}
#quickTips{
  font-size: 18px;
  float: left;
  position: relative;
  background-color: #f2f2f2;
  color: black;
  padding: 20px;
  display: flex;
  margin-right: 40px;
  
  flex-direction: column;
  justify-content:center;
  border-radius: 5px;
}
#quickTips > h3{
  text-align: center;
}
#quickTips > li{
  margin-bottom: 20px;
  border-bottom: black 1px solid;
  margin-left: 5px;
}
#closeInfo{
  position: absolute;
  top: 2px;
  left: 5px;
  z-index: 100;
  font-size: 28px;
  border-radius: 4px;
  width: 45px;
  height: 45px;
  color: rgb(235, 20, 20);
  background-color: whitesmoke;
  border: ivory 2px solid;
}
#closeInfo:hover{
  color: white;
  background-color: rgb(235, 20, 20);
}
#winnerWinnerChickenDinner{
  background-image: url('./cards/KH.svg');
  background-size: 210%;
  background-position-y: 12%;

  z-index: 100;
  position: absolute;
  height: 250px;
  left: 33%;
  width: 400px;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  border-radius: 5px;
}
#winnerWinnerChickenDinner > button{
  
  font-size: 14px;
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

#winnerWinnerChickenDinner > button:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

#winnerWinnerChickenDinner > button:active {
  color: #000
}

#winnerWinnerChickenDinner > button:active:after {
  background: transparent;
}

#winnerWinnerChickenDinner > button:hover:before {
  opacity: 1;
}

#winnerWinnerChickenDinner > button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

#winnerWinnerChickenDinner > span{
  text-transform: uppercase;
  font-family: verdana;
  font-size: 30px;
  margin-bottom: 35px;
  letter-spacing: 2px;
  font-weight: 700;
  color: #020e00;
  text-shadow: 1px 1px 1px #919191,
      1px 2px 1px #f5f2f2,
      1px 3px 1px #919191,
      1px 4px 1px #919191,
      1px 5px 1px #919191,
      1px 6px 1px #919191,
      1px 7px 1px #919191,
      1px 8px 1px #919191,
      1px 9px 1px #919191,
      1px 10px 1px #919191,
  1px 6px 2px rgba(16,16,16,0.4),
  1px 12px 2px rgba(16,16,16,0.2),
  1px 12px 10px rgba(16,16,16,0.2),
  1px 12px 8px rgba(16,16,16,0.4);
}


.tableauColumn *{
  height: 110px;
  width: 95px;
  background-size:cover;
  padding-top: 25px;
 border-radius: 7%;
}
#gameCongrats{
  position: absolute;

}
.card{
  border: 1px solid black;
}

#time{
  text-shadow: 2px 2px black;
  font-size: 24px;
  color: white;
 
  
}
.tableauColumn *:hover{
 cursor: pointer;
}
#foundationHearts{
  background-image: url('./cards/AH.svg');
  background-repeat: no-repeat;
  background-position-x:center;
  background-position-y: center;
  opacity: .5;
  border: 1px solid black
}
#foundationSpades{
  background-image: url('./cards/AS.svg');
  background-repeat: no-repeat;
  background-position-x:center;
  background-position-y: center;
  opacity: .5;
  border: 1px solid black
}
#foundationDiamonds{
  background-image: url('./cards/AD.svg');
  background-repeat: no-repeat;
  background-position-x:center;
  background-position-y: center;
  opacity: .5;
  border: 1px solid black
}
#foundationClubs{
  background-image: url('./cards/AC.svg');
  background-repeat: no-repeat;
  background-position-x:center;
  background-position-y: center;
  opacity: .5;
  border: 1px solid black
}
 
body{
  background-image: url('./cardTable.png');
  background-size:cover;

}
#viewStatsPage{
  background-image: url('./cardTable.png');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
#login, #register{
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-image: url('./cardTable.png');
  background-size: cover;
  z-index: 3;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content:space-evenly;
}
#welcome{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 36px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content:space-evenly;
  
}
#stats > li{
  margin-top: 25px;
  margin-left: 15px;
  text-align: left;
  font-size: 20px;
  padding: 10px;
 
  border-bottom: 2px solid lightgray;
}
#stats > button {
  float: right;
  color: red;
  border-radius: 4px;
}
#stats > button:hover{
  background-color:  #d3cece;
}
#stats{
  margin-bottom: 2000px;
  display: none;
  
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 350px;
  width: 300px;
  z-index: 2;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 40px;
 
  
}
#autoComplete{
  position: absolute;
  top: 50%;
  left: 40%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 30px;
  z-index: 100;
}
#autoCompleteButton{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  background-color: rgb(123, 168, 123);
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
}
#closeAutoComplete{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  background-color: rgb(228, 90, 90);
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
}

#autoCompleteButton:hover{
  cursor: pointer;
  background-color: rgb(82, 131, 82);
}
#closeAutoComplete:hover{
  cursor: pointer;
  background-color: rgb(228, 64, 64);
}
#editClose{
  margin-left: 90%;
  margin-bottom: 10px;
  color: red;

}
#edit{
  
  transition: 1s;
  margin-bottom: 2000px;
  display: none;
  position: absolute;
  z-index: 5;
}

#rankUserRow > td {
  background-color: green;
  font-weight: 900;
}
#welcomeContainer{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#welcome > h3{
  letter-spacing: 2px;
  word-spacing: 8px;
  font-size: 28px;
  text-shadow: 0 1px 0 #ccc,
  0 1px 0 #c9c9c9,
  0 2px 0 #bbb,
  0 3px 0 #b9b9b9,
  0 3px 0 #aaa,
  0 3px 1px rgba(0,0,0,.1),
  0 0 2px rgba(0,0,0,.1),
  0 1px 2px rgba(0,0,0,.3),
  0 3px 2px rgba(0,0,0,.2),
  0 5px 8px rgba(0,0,0,.25),
  0 10px 8px rgba(0,0,0,.2),
  0 10px 10px rgba(0,0,0,.15);
}
#welcome > div{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  background-color:  rgb(123, 168, 123);
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}
#welcome > div:last-child{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  background-color: rgb(240, 120, 120);
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}
#welcome > div:hover{

  cursor: pointer;
  background-color: rgb(82, 131, 82)

}
#welcome > div:last-child:hover{

  cursor: pointer;
  background-color: rgb(228, 90, 90)

}
#register > form, #login > form, #edit > form{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 30px;
}
#register > form > div > input, #login > form > div > input, #edit > form > div > input{
  width: 100%;
  padding: 16px 24px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}
#sortedBy{
  color: white;
  text-align: center;
}
#sortByButtons{
  display: flex;
  justify-content: center;
  align-items: center;
}
#statsTable{
  display: flex;
  justify-content: center;
  align-items: center;
}
#statsTable > table > thead{
  font-size: 24px;
  color: black;
  text-align: center;
  background-color: rgb(123, 168, 123);

}
#statsTable > table >  thead > tr > th{
  padding: 10px;
  border: 1px solid black
}

#statsTable > table > tbody > tr:nth-child(even){
  background-color: darkgray;
}
#statsTable > table{
 border-collapse: collapse;
 background-color:  #f2f2f2 ;
}
#statsTable > table >  tbody > tr > td{
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}
#sortByButtons > button {
  color: black;
  width: 125px;
  height: 35px;
  padding: 12px 20px;
  font-size: 14px;
  margin: 8px 5px;
  display: inline-block;
  background-color: rgb(233, 97, 97);
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  
  transition: .5s;
}
#sortByButtons > button:hover{
  cursor: pointer;
  width: 150px;
  height: 50px;
  
  
}

#register > form > div > button, #login > form > div > button, #edit > form > div > button{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  background-color: rgb(123, 168, 123);
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
}

#register > form > div > button:hover, #login > form > div > button:hover,  #edit > form > div > button:hover{
  cursor: pointer;
  background-color: rgb(82, 131, 82);
}
#newUser{
  color: #f2f2f2;
  font-size: 20px;
}
#newUser > button {
  background-color: inherit;
  color:  #f2f2f2;
  border-bottom: 1px solid #f2f2f2 ;
  font-size: 20px;
}
#newUser > button:hover{
  cursor: pointer;
  background-color:  rgb(82, 131, 82);
}


#stock *, #waste *{
 display: none;
 
  
  
}

#stock :last-child, #waste :last-child, .foundation  :last-child{
  padding-top: 25px;
  height: 110px;
  width: 95px;
  background-size:cover;
 border-radius: 7%;
 box-shadow: 2px 5px 5px;
 display: inline-block;
 border: 1px solid black;
}
#stock :last-child:hover, #waste :last-child:hover, .foundation  :last-child:hover{
 cursor: pointer;
}

@media screen and (max-width: 850px){
  #gameDets > div, #gameDets > button{
    margin-left: 20px;
    margin-right: 20px;
  }
  
  
}


#container1{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
  height: 150px;
  width: 100%;

}
#stock{
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
#waste{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  margin-right: 10%;
 
}
.foundation{
  height: 140px;
  width: 95px;
  margin-left: 10px;
  box-shadow: 5px 5px 5px;
  border-radius: 7%;
}

#gameDets{
  width: 100%;
  font-size: 24px;
  height: 70px;
  display: flex;
  justify-content:flex-start;
  align-items: flex-start;
}
#reset{
  color: black;
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  background-color: white;
  transition: 1s;
}
#reset:hover{
  cursor: pointer;
}
#moves{
  text-shadow: 2px 2px black;
  font-size: 24px;
  color: white;
  margin-right: 50px;
}
#tableau{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 10px;
}
.tableauColumn{
 
  width: 135px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#undo{
  color: #FFF;
  border: 2px solid #f2f2f2;
  border-radius: 0px;
  padding: 8px;
  margin-left: 60px;
  margin-right: 80px;
  width: 80px;
  height: 35px;
  display: inline-block;
  background-color: inherit;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #f2f2f2;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
#newGame, #returnHome{
  color: #FFF;
  border: 2px solid #f2f2f2;
  border-radius: 0px;
  padding: 8px;
  margin-left: 200px;
  width: 150px;
  height: 35px;
  display: inline-block;
  background-color: inherit;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #f2f2f2;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
#returnHome{
  margin-left: 10px;
}
#statsReturnHome {
  color: #FFF;
  border: 2px solid #f2f2f2;
  border-radius: 0px;
  padding: 8px;
  position: absolute;
  top: 5px;
  left: 15px;
  width: 150px;
  height: 35px;
  display: inline-block;
  background-color: inherit;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #f2f2f2;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
#undo:hover, #newGame:hover, #returnHome:hover, #statsReturnHome:hover{
  box-shadow: inset 400px 0 0 0 #f2f2f2;
  color: black
}





