.rainingCard{
  height: 110px;
  width: 95px;
  position: absolute;
  background-size:cover;
  padding-top: 25px;
 border-radius: 7%;
  top: 1;
  border: 1px solid black;
}

.tableauColumn *{
  height: 110px;
  width: 95px;
  background-size:cover;
  padding-top: 25px;
 border-radius: 7%;


 
  
  
}
.card{
  border: 1px solid black;
}

#time{
  font-size: 24px;
  color: white
}
.tableauColumn *:hover{
 cursor: pointer;
}
#foundationHearts{
  background-image: url('./cards/AH.svg');
  background-repeat: no-repeat;
  background-position-x:center;
  background-position-y: center;
  opacity: .3;
  border: 1px solid black
}
#foundationSpades{
  background-image: url('./cards/AS.svg');
  background-repeat: no-repeat;
  background-position-x:center;
  background-position-y: center;
  opacity: .3;
  border: 1px solid black
}
#foundationDiamonds{
  background-image: url('./cards/AD.svg');
  background-repeat: no-repeat;
  background-position-x:center;
  background-position-y: center;
  opacity: .3;
  border: 1px solid black
}
#foundationClubs{
  background-image: url('./cards/AC.svg');
  background-repeat: no-repeat;
  background-position-x:center;
  background-position-y: center;
  opacity: .3;
  border: 1px solid black
}
 
body{
  background-image: url('./cardTable.png');
  background-size:cover;

}
#login, #register{
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-image: url('./cardTable.png');
  background-size: cover;
  z-index: 3;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content:space-evenly;
}
#welcome{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content:space-evenly;
  
}
#stats > li{
  margin-top: 25px;
  margin-left: 5px;
  text-align: left;
  font-size: 20px;
 
  border-bottom: 2px solid lightgray;
}
#stats > button {
  float: right;
  color: red;
  border-radius: 4px;
}
#stats > button:hover{
  background-color:  #d3cece;
}
#stats{
  margin-bottom: 2000px;
  display: none;
  
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 350px;
  z-index: 2;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
 
  
}
#editClose{
  margin-left: 90%;
  margin-bottom: 10px;
  color: red;

}
#edit{
  
  transition: 1s;
  margin-bottom: 2000px;
  display: none;
  position: absolute;
  z-index: 5;
}

#welcomeContainer{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#welcome > h3{
  font-size: 28px;
  text-shadow: 0 1px 0 #ccc,
  0 1px 0 #c9c9c9,
  0 2px 0 #bbb,
  0 3px 0 #b9b9b9,
  0 3px 0 #aaa,
  0 3px 1px rgba(0,0,0,.1),
  0 0 2px rgba(0,0,0,.1),
  0 1px 2px rgba(0,0,0,.3),
  0 3px 2px rgba(0,0,0,.2),
  0 5px 8px rgba(0,0,0,.25),
  0 10px 8px rgba(0,0,0,.2),
  0 10px 10px rgba(0,0,0,.15);
}
#welcome > div{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  background-color:  rgb(123, 168, 123);
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}
#welcome > div:hover{

  cursor: pointer;
  background-color: rgb(82, 131, 82)

}
#register > form, #login > form, #edit > form{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
#register > form > div > input, #login > form > div > input, #edit > form > div > input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}
#register > form > div > button, #login > form > div > button, #edit > form > div > button{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  background-color: rgb(123, 168, 123);
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
}

#register > form > div > button:hover, #login > form > div > button:hover,  #edit > form > div > button:hover{
  cursor: pointer;
  background-color: rgb(82, 131, 82);
}
#newUser{
  color: #f2f2f2;
  font-size: 20px;
}
#newUser > button {
  background-color: inherit;
  color:  #f2f2f2;
  border-bottom: 1px solid #f2f2f2 ;
  font-size: 20px;
}
#newUser > button:hover{
  cursor: pointer;
  background-color:  rgb(82, 131, 82);
}


#stock *, #waste *{
 display: none;
 
  
  
}

#stock :last-child, #waste :last-child, .foundation  :last-child{
  padding-top: 25px;
  height: 110px;
  width: 95px;
  background-size:cover;
 border-radius: 7%;
 box-shadow: 2px 5px 5px;
 display: inline-block;
 border: 1px solid black;
}
#stock :last-child:hover, #waste :last-child:hover, .foundation  :last-child:hover{
 cursor: pointer;
}

@media screen and (max-width: 1200px){
  /*put dropdown menu here*/
  
  
  }

#container1{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
  height: 150px;
  width: 100%;

}
#stock{
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
#waste{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  margin-right: 10%;
 
}
.foundation{
  height: 140px;
  width: 95px;
  margin-left: 10px;
  box-shadow: 5px 5px 5px;
  border-radius: 7%;
}
#gameDets{
  width: 100%;
  font-size: 24px;
  margin-top: 10px;
  height: 70px;
  display: flex;
  justify-content: flex-start;
}
#reset{
  color: black;
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  background-color: white;
  transition: 1s;
}
#reset:hover{
  cursor: pointer;
}
#moves{
  font-size: 24px;
  color: white;
  margin-right: 50px;
}
#tableau{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 10px;
}
.tableauColumn{
 
  width: 135px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#undo{
  color: #FFF;
  border: 2px solid #f2f2f2;
  border-radius: 0px;
  padding: 8px;
  margin-right: 400px;
  margin-left: 75px;
  width: 80px;
  height: 35px;
  display: inline-block;
  background-color: inherit;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #f2f2f2;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
#undo:hover{
  box-shadow: inset 400px 0 0 0 #f2f2f2;
  color: black
}





